<h2>{{titulo}}</h2>
<form action="{% url 'ejercicios:respuesta' %}" method="post">
    {% csrf_token %}
    Numero 1
    <input type="text" name="Numero1" maxlength="50"><br>
    Numero 2
    <input type="text" name="Numero2"><br>
 
    Operacion
    <select name="ope">
        <option value="Sumar">Sumar</option>
        <option value="Restar" selected="selected">Restar</option>
        <option value="Multiplicar">Multiplicar</option>
       
    </select> <br>
   
    
    <input type="submit" name="respuesta" value="Enviar">
</form>